html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

body {
    background: black;
    color: grey;
}

#loading {
    margin: 0;
    padding: 0;
}

body.loaded #loading {
    display: none;
}

#render-canvas {
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none;
    padding: 0;
    margin: 0;
    border: none;
}
